<!--This is an Example XML File for the Standard Routes, This file would go into /vatSys Files/Profiles/New Zealand/Plugins/SRC-System/Routes.xml-->
<StandardRoutes>
    <Airport Name="NZAA">
        <Route ID="AACH1" Remarks="FL240 and above">H384 NP H252 NS Y288</Route>
        <Route ID="AACH6" Remarks="">H384 NP Q137 VELGA Y894</Route>
        <Route ID="AAWN1" Remarks="">KARRL Y506 TPAPA</Route>
    </Airport>
    <Airport Name="NZCH">
        <Route ID="CHAA1" Remarks="">Y175 OMKUN Y655 POKOM Q277</Route>
        <Route ID="CHAA6" Remarks="">H110 PORAM Y781 RIVTA Y523 GULOV Y175
    OMKUN Y311 DADUK Y273 PEPPE H182</Route>
        <Route ID="CHDN1" Remarks="">Y714 IDARA Y814 MIPAK</Route>
    </Airport>
</StandardRoutes>